<%-include('../partials/head')%>
  </head>
  <body class="bg-slate-950">
    <!-- Header -->
   <%-include('../partials/nav')%>
  
    <!-- HERO -->
<%- include("../partials/hero")%>


<!-- Top rated homes section -->

<%- include("../partials/topRated")%>

<!-- Homes by city section -->

<%- include("../partials/cityHome")%>


<!-- Newly added Homes section -->

<%- include("../partials/newAdded")%>


<!-- Destination Homes -->
 <%- include("../partials/destinationHome")%>

 <!-- Homes in Delhi Section -->
<%- include("../partials/delhiHomes") %>
<!-- Homes in Mumbai  -->
<%- include("../partials/mumbaiHomes") %>
<!-- Homes in Goa -->
<%- include("../partials/goaHomes") %>
<!-- Homes in jaipur -->
<%- include("../partials/jaipurHomes") %>
<!-- Homes in  Manali-->
<%- include("../partials/manaliHomes") %>
<!-- Homes in  Udaipur-->
<%- include("../partials/udaipurHomes") %>
<!-- Homes in  Hyderabad-->
<%- include("../partials/hyderabadHomes") %>

<!-- Why choose us section -->

<%- include("../partials/whyChoose")%>


<!-- Testinomials section -->
<%- include("../partials/testinomial")%>

<!-- footer -->
 <%-include ('../partials/footer')%>




  </body>
</html>
